<video poster="assets/hacking.jpg" width="950" height="500" controls="controls" __idm_id__="14974978">
  <source src="assets/movies.mp4" type="video/mp4" />
  <!-- <source src="B:\Album\movies.mp4" type="video/mp4" /> -->
</video>

<!-- <div style="width: 950px; height: 500px"> -->
<!--   <embed poster="/assets/hacking.jpg" src="https://www.youtube.com/embed/KCRa6tQDayE?autohide=1&autoplay=0" -->
<!--     wmode="transparent" type="video/mp4" width="100%" height="100%" -->
<!--     allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen title="Keyboard Cat" /> -->
<!-- </div> -->
